<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="PagoProfesores.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <!--<add connectionString="Server=localhost; Database=PAGOPROFESORES; User ID=pagoprofesores;Password=12345" name="connection" providerName="System.Data.SqlClient" />-->
    <!--TEST-->
    <add connectionString="Server=claradbp.database.windows.net,1433; Database=pagoprofesores; User ID=pagoprofesores; Password=P@g0pr0f3s0r3S;" name="connection" providerName="System.Data.SqlClient" />
    <!--<add connectionString="Server=claradbp.database.windows.net,1433; Database=pagoprofesores-04_oct_2019; User ID=pagoprofesores; Password=P@g0pr0f3s0r3S;" name="connection" providerName="System.Data.SqlClient" />-->
    <!--PROBAR-->
    <!--<add connectionString="Server=claradbp.database.windows.net,1433; Database=pagoprofesores-14-junio-2019; User ID=pagoprofesorespp; Password=P@g0pR0f3s0r3spp;" name="connection" providerName="System.Data.SqlClient" />-->
    <!--<add connectionString="Server=claradbp.database.windows.net,1433; Database=PagoProfesores-12-feb-2019; User ID=PagoProfesores_12_feb_2019; Password=P@g0pr0f3s0r3S;" name="connection" providerName="System.Data.SqlClient" />-->
    <!--PROD-->
    <!--<add connectionString="Server=serua-clara-db.southcentralus.cloudapp.azure.com,1433; Database=PAGOPROFESORES; User ID=sqladminclara; Password=C@rlos6132000;" name="connection" providerName="System.Data.SqlClient" />-->
    <!--<add connectionString="Server=serua-clara-db.southcentralus.cloudapp.azure.com,1433; Database=PAGOPROFESORES; User ID=sqladminclara; Password=C@rlos6132000;" name="connection" providerName="System.Data.SqlClient" />-->
    <!--PRE-PROD-->
    <!-- <add connectionString="Server=service-claradb.database.windows.net,1433; Database=pagoprofesores-prod; User ID=pagoprofesores_prod; Password=P@g0prof3s0r3s..;" name="connection" providerName="System.Data.SqlClient" />-->
    <!--TOKEN-->
    <add name="GetToken" connectionString="key=93874938327481928349; URL=http://localhost:58402/" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="vs:EnableBrowserLink" value="false" />
    <add key="firmaRepresentanteContrato" value="https://40.84.224.118/Upload/#FIRMA#" />
    <add key="selloConstanciadeRetencion" value="https://40.84.224.118/Upload/#SELLO#" />
    <!-- Parámetros para la conexión a los servicios web de Pago a Profesores -->
    <add key="xURL" value="https://uft-integ-dev.ec.lcred.net/wsProfesores/" />
    <!--  <add key="xURL" value="https://uft-integ-dev.ec.lcred.net/wsProfesoresRUAP/" /> -->
    <!--<add key="xURL" value=" https://uft-integ-prod.ec.lcred.net/wsProfesores/" />-->
    <add key="xUser" value="Banner" />
    <add key="xSecret" value="8cTQKtn2UaqQLI9HhM28LowXlqI4ODbbjGSclCOGPvDYb9W/+zaFk0S4iY97SPHj" />
    <add key="xFormat" value="Banner:{0}" />
    <!-- Fin de los parámetros -->
    <!-- Servicio WEB que proporciona MySuite para realizar el proceso de Timbrado-->
    <!--TEST -->
    <add key="mySuiteWS" value="https://anahuacservicelayer-test.azurewebsites.net/API/Converter" />
    <!--PROD -->
    <!--<add key="mySuiteWS" value="https://anahuacservicelayer.azurewebsites.net/API/Converter"/>-->
    <add key="enviarCorreo" value="1" />
    <add key="correoReceptor" value="abaca@anahuac.mx" />
    <add key="serverMySuite" value="TEST" />
    <!-- PROD -->
    <!-- Fin del Servicio WEB de MySuite-->
    <!--Envío de Publicación de contratos SMTP-->
    <add key="sendGridSmtpServer" value="smtp.office365.com" />
    <add key="sendGridPort" value="587" />
    <add key="sendGridUser" value="pagoprofesores@anahuac.mx" />
    <add key="sendGridPassword" value="Hctbn*1523" />
    <add key="EnableSsl" value="true" />
    <!--Fin de Envío de Publicación de contratos SMTP-->
    <!--Envío de Publicación de contratos OAuth2.0-->
    <add key="csClientSecretAzure" value="mkk8Q~WvHnWL6aFgzNuh6vQbb9hmdqdEf14Bibj6" />
    <add key="csTenantIdAzure" value="0d8d6b97-e05d-460c-b6b5-19b7d020f47a" />
    <add key="csAppIdAzure" value="09fa3fa2-106e-41b2-91f4-75026bdaa9ee" />
    <add key="csCorreoNotificacion" value="pagoprofesores@anahuac.mx" />
    <!--Fin de Envío de Publicación de contratos OAuth2.0-->
  </appSettings>
  <!--
    Para obtener una descripción de los cambios de web.config, vea http://go.microsoft.com/fwlink/?LinkId=235367.

    Los siguientes atributos se pueden establecer en la etiqueta <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.7.2" />
      </system.Web>
  -->
  <system.web>
    <compilation targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" maxRequestLength="2147483647" />
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="FactWSFrontSoap">
          <security mode="Transport" />
        </binding>
        <binding name="FactWSFrontSoap1" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="32" maxStringContentLength="8388608" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="FactWSFrontSoap2">
          <security mode="Transport" />
        </binding>
        <binding name="FactWSFrontSoap3" />
      </basicHttpBinding>
    </bindings>
    <client>
      <!--<endpoint address="https://www.mysuitecfdi.com/mx.com.fact.wsfront/FactWSFront.asmx"-->
      <endpoint address="https://www.mysuitetest.com/mx.com.fact.wsfront/factwsfront.asmx" binding="basicHttpBinding" bindingConfiguration="FactWSFrontSoap" contract="MySuiteService.FactWSFrontSoap" name="FactWSFrontSoap" />
      <endpoint address="https://www.mysuitetest.com/mx.com.fact.wsfront/factwsfront.asmx" binding="basicHttpBinding" bindingConfiguration="FactWSFrontSoap1" contract="srv_mySuiteTest.FactWSFrontSoap" name="FactWSFrontSoap1" />
    </client>
  </system.serviceModel>
  <applicationSettings>
    <PagoProfesores.Properties.Settings>
      <setting name="PagoProfesores_MySuiteServiceTest_FactWSFront" serializeAs="String">
        <value>https://www.mysuitetest.com/mx.com.fact.wsfront/factwsfront.asmx</value>
        <!--<value>https://www.mysuitecfdi.com/mx.com.fact.wsfront/factwsfront.asmx</value>-->
      </setting>
    </PagoProfesores.Properties.Settings>
  </applicationSettings>
</configuration>
<!--ProjectGuid: 8D5D2B31-F8A1-49D5-BE71-2BB569104F9B-->